pandas==2.3.0
matplotlib==3.10.3
numpy==2.2.6
tqdm==4.67.1
seaborn==0.13.2
openpyxl==3.1.5
scipy==1.10.1
wordcloud==1.9.4
nltk==3.9.1
scikit-learn==1.7.0
RapidFuzz==3.13.0
rank_bm25==0.2.2
pymorphy3==2.0.4
nltk==3.9.1
sentence-transformers==4.1.0
faiss-cpu==1.11.0
torch==2.7.1
torchvision==0.22.1
evaluate==0.4.4
openai==1.93.0
accelerate==1.8.1
rouge==1.0.1
umap==0.1.1
fastapi==0.115.14
uuid==1.30
gradio==5.35.0